services:
  postgres:
    image: postgres:16-alpine
    container_name: justuno-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: uno
      POSTGRES_USER: uno
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    # Change ./data mapping
    volumes:
      -  ./data:/var/lib/postgresql/data

  backend:
    image: ghcr.io/stenterstal/justuno-backend:latest
    container_name: justuno-backend
    environment:
      DB_NAME: uno
      DB_USER: uno
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_HOST: postgres
      DB_PORT: 5432
      ALLOWED_HOSTS: localhost
      CORS_ALLOWED_HOSTS: localhost
    # Lets you access the Django admin portal on ip:8888/admin
    ports:
      - 8888:8000
    depends_on:
      - postgres

  frontend:
    image: ghcr.io/stenterstal/justuno-frontend:latest
    container_name: justuno-frontend
    environment:
      API_BASE_URL: localhost
    depends_on:
      - backend
    # Change ./config mapping
    volumes:
      - ./config/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    # Change as needed
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.uno.entryPoints=https"
      - "traefik.http.routers.uno.rule=Host(`yourdomain.com`)"
      - "traefik.http.routers.uno.tls=true"
      - "traefik.http.routers.uno.tls.certresolver=cloudflare"