@import "tailwindcss";

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    @apply bg-slate-200 text-black font-sans;
  }
}