@import "tailwindcss";

@font-face {
  font-family: "Cabin";
  src: url("/fonts/Cabin-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    @apply bg-slate-200 text-black font-sans;
  }
}